@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

body {
  background: #030303;
  color: #fff;
}

img {
  width: 100%;
}

#wrapper {
  width: 100%;
  max-width: 1350px;
  margin: auto;
  position: relative;

  #header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1.2rem;

    .logo {
      font-size: 1.4rem;
      text-transform: capitalize;
      font-weight: 500;
    }

    .stroke {
      display: block;
      width: 28px;
      height: 3px;
      background: #fff;
      border-radius: 30%;
      margin-bottom: 5px;
    }
  }

  #showcase {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
  }
}

@media screen and (max-width: 749px) {
  #showcase {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;

    .texts {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 2.5rem;
      text-transform: capitalize;

      h1 {
        letter-spacing: 3px;
        font-weight: 600;
        font-size: 3.5rem;
        line-height: 1;
        margin-bottom: 1rem;
      }
      .btn {
        display: block;
        background: none;
        border: 1px solid #fff;
        color: #fff;
        padding: 0.4rem 1.6rem;
        margin: auto;
        margin-top: 4rem;
      }
    }

    .image {
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 0;
      z-index: -1;

      img {
        width: 200%;
        margin-top: -15%;
        margin-left: -70%;
      }
    }
  }
}

@media screen and (min-width: 750px) {
  #showcase {
    width: 100%;
    padding: 0 2rem;
    height: 90vh;
    .texts {
      position: absolute;
      bottom: 15%;
      flex: 1;
      margin-bottom: 2rem;
      h1 {
        font-weight: 700;
        font-size: 8rem;
        line-height: 1;
        text-transform: capitalize;
        margin-bottom: 1rem;
      }
      .btn {
        margin-top: 4rem;
        border: 1px solid #fff;
        color: #fff;
        background: none;
        cursor: pointer;
        padding: 0.5rem 1.5rem;
      }
    }
    .image {
      position: absolute;
      right: -30%;
      z-index: -1;
      width: 100%;
      img {
        display: block;
        width: 60%;
        margin-right: -50%;
      }
    }
  }
}
